<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <services>
            <service name="Enrora_Server.Enrora_Service">
                <endpoint address="net.tcp://localhost:8793/EnroraDigital" binding="netTcpBinding"
                    bindingConfiguration="" name="EnroraServerEndpoint" contract="Enrora_Commons.IEnrora_Service" />
            </service>
        </services>
    </system.serviceModel>
</configuration>